.DS_Store
/.htaccess
config.php
/composer.phar
/vendor
/cms
/wp-content/uploads
/wp-content/plugins/*
/wp-content/themes/*

# Uncomment and update this line to add a custom plugin to your repos
#!/wp-content/plugins/my-plugin

# Uncomment and update this line to add a custom theme to your repos
#!/wp-content/themes/my-theme
