.DS_Store
/.htaccess
/local-config.php
/dev-config.php
/live-config.php
/composer.phar
/vendor
/cms
/wp-content/plugins

# If your theme isn't part of the project repository, uncomment this line:
#/wp-content/themes
